
#alignment {
  font-size: 28px;
  width: 680px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  outline:none;
  white-space: pre;
  border: solid 2px #e3e3e3;
  border-radius: 5px;
  background-color: #f3f3f3;
  line-height: 40px;
}

#alignment div {
  border-bottom: solid 2px black;
  float:left;
  width:40px;
  height:50px;
  text-align:center;
  margin-right:2px;
}

.align_epsilon {
  opacity: .5;
  font-size: 28px;
  font-family:STIXGeneral-Italic;
}

.align_text {
  font-size: 28px;
  font-weight: 200;
}
