
#alignment {
  font-size: 28px;
  width: 680px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  outline:none;
  white-space: pre;
  border: solid 2px #e3e3e3;
  border-radius: 5px;
  background-color: #f3f3f3;
  line-height: 40px;
}

#alignment #red_bar_overflow {
  width: 4px; 
  height: 40px;
  border: none;
  position: absolute;
  left: 678px;
  top: 10px;
  background-color: red;
  opacity: 0.2 !important;
}

#alignment div {
  border-bottom: solid 2px black;
  float:left;
  width:40px;
  height:50px;
  text-align:center;
  margin-right:2px;
}

#return_botton {
  border: solid 1px #a3a3a3;
  padding:3px 7px 3px 7px;
  margin-left:5px;
  margin-right:5px;
  border-radius:5px;
  opacity:.6;
}

.align_epsilon {
  opacity: .5;
  font-size: 28px;
  font-family:STIXGeneral-Italic;
}

.align_text {
  font-size: 28px;
  font-weight: 200;
}
